 <div class="k-block k-info-colored">
	<h1>Welcome Search Page:</h1>
     <div class="demo-section k-content">
        <input id="firstname" name="firstname" ng-keyup="nameAutoHint($event)" ng-model="fn" ng-init="fn=''"/>
        <input id="lastname" name="lastname" ng-keyup="nameAutoHint($event)" ng-model="ln" ng-init="ln=''"/>
        <br/>
        <button  value="search" id="searchbuttonid" class="searchbutton" >Search</button>
        <span class="homeredirect"><a href="./#/">Back to Welcome</a></span>
    </div>
     <script src="./js/service.js"></script> 
</div>